body {
    margin: 10px 60px;
    background-image: url("ForumAssets/bg1.png")
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1, h4, ol {
    margin: 0;
}

h4{
    size: 40px;
}

h3 {
    text-align: center;
}
p {
    margin: 5px 0;
}
textarea {
    width: 80%;
    height: 80px;
}
button {
    display: block;
    margin: 10px 0;
}
.top-bar {
    background-color: #619CFF;
    padding: 0 40px;
}
.main {
    background-color: #F5F5DC;
    padding: 10px 40px;
}
.comments {
    margin: 40px 0;
}
.comment {
    margin: 10px 0;
}
.row {
    padding: 5px 0;
}
.bottom, .top-comment {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}
.comment-ts {
    padding-left: 10px;
}
